<form class="uk-form-horizontal" action="/addcomment" method="POST">
    <div class="uk-margin">
        <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" placeholder="Add a Comment" type="text" name="text"></textarea>
        </div>
    </div>
    <p uk-margin>
        <input type="submit" value="Comment" class="uk-button uk-button-default">
    </p>
</form>