<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <form class="uk-form-stacked uk-text-left" action="/createPoi" method="POST">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Add New Image</label>
            <div class="uk-margin" uk-margin>
                <div uk-form-custom="target: true">
                    <input type="file">
                    <input class="uk-input uk-form-width-medium" type="file" placeholder="Upload Image" disabled>
                </div>
                <button class="uk-button uk-button-default">Submit</button>
            </div>
        </div>
    </form>
</div>