{{#if user.isAdmin}}
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li><a href="/home">My POIs</a></li>
                <li><a href="/report">All POIs</a></li>
                <li><a href="/addpoi">Add a POI</a></li>
                <li><a href="/userview">View Users</a></li>
            </ul>

        </div>
        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <li><a href="/logout">Logout</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>

        </div>
    </nav>
{{else}}
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li><a href="/home">My POIs</a></li>
                <li><a href="/report">All POIs</a></li>
                <li><a href="/addpoi">Add a POI</a></li>
            </ul>

        </div>
        <div class="uk-navbar-right">

            <ul class="uk-navbar-nav">
                <li><a href="/logout">Logout</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>

        </div>
    </nav>
{{/if}}