{{> inner-menu }}
<div class="uk-background-top-left uk-panel uk-padding" style="background-image: url(images/moher05.jpg);">
<div class="uk-child-width-1-1@s uk-align-center" uk-grid>
    <div>
        <h1 class ="uk-heading-line uk-text-center uk-text-emphasis"><span>Add New Point of Interest</span></h1>
        <p>{{> poi-form }}</p>
    </div>
</div>
</div>