{{> inner-menu }}
<div class="uk-child-width-1-1@s uk-align-center" uk-grid>
    <div>
        <div class="uk-background-default uk-padding uk-panel">
            <p>{{> poi-form }}</p>
        </div>
    </div>
</div>
