{{> inner-menu }}
<div class="uk-child-width-expand@s uk-text-center" uk-grid>
    <div>
        <h1>My POIs</h1>
        <div class="uk-card uk-card-default uk-card-body uk-align-centre">{{> poi-list }}</div>
    </div>
</div>
