<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
<div class="uk-height-large uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="images/cork_view_northside.jpg" uk-img>
    <h1 class="uk-text-capitalize">Points of Interest in Ireland<br />
        <a class="uk-align-center uk-button uk-button-primary" href="/login">Login</a>
        <a class="uk-align-center uk-button uk-button-primary" href="/signup">Sign Up</a>
    </h1>
</div>
<div class="uk-container uk-margin">
    <div class="uk-align-centre">
        <h2 class="uk-text-center">Title</h2>
        <p class="uk-text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
    <br />
    <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
        <div>
            <h2>National Monument</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div>
            <h2>Mountain</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
    <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
        <div>
            <h2>Forest</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        <div>
            <h2>Island</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
        {{> error }}
    </div>
</div>
</body>
</html>