{{>inner-menu}}

<div class="uk-background-top-left uk-panel uk-padding" style="background-image: url(images/moher.jpg);">
    <div class="uk-child-width-expand@s uk-text-left" uk-grid uk-height-match="target: > div > .uk-card">
        <div>
        {{>poicard}}
        </div>
        <div>
        {{>slideshow}}
        </div>
    </div>
</div>