{{>inner-menu}}

<div class="uk-background-top-left uk-panel uk-padding" style="background-image: url(/images/puffins.jpg);">
    <div class="uk-child-width-expand@s uk-text-left" uk-grid uk-height-match="target: > div > .uk-card">
        <div>
        {{>poicard}}
        </div>
        <div>
        {{>slideshow}}
        </div>
    </div>
    <br>
    <div class="uk-card uk-card-default uk-card-body uk-padding">
        {{>addcomment}}
    </div>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
        <h3>Comments</h3>
        {{>comments}}
    </div>
</div>

