{{> inner-menu }}
<body class="uk-background-cover" data-src="images/cork_view_northside.jpg">
<div class="uk-grid-medium uk-child-width-expand@s uk-text-center uk-background-cover" data-src="images/cork_view_northside.jpg" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">{{> poi-list}}</div>
    </div>
</div>
</body>