{{> inner-menu }}
<div class="uk-background-center-center uk-panel uk-padding" style="background-image: url(images/puffins.jpg);">
        <div class="uk-width-expand@m">
            <h1 class ="uk-heading-line uk-text-center uk-text-emphasis"><span>Update Your Account</span></h1>
            <div class="uk-card uk-card-default uk-width-xlarge uk-card-body uk-box-shadow-large uk-align-center">
                <h3 class="uk-card-title uk-text-center">Your Details: </h3>
                {{> settings-form}}
            </div>
        </div>
    </div>
</div>
</div>