{{> inner-menu }}
<div class="uk-background-top-left uk-panel uk-padding" style="background-image: url(images/moher.jpg);">
        <div class="uk-width-expand@m">
            <div class="uk-card uk-card-default uk-width-xlarge uk-card-body uk-box-shadow-large">
                <h3 class="uk-card-title uk-text-center">Your Details: </h3>
                {{> settings-form}}
            </div>
        </div>
    </div>
</div>
</div>