{{> inner-menu }}
<div class="uk-background-center-center uk-panel uk-padding" style="background-image: url(images/cobh.jpg);">
    <div class="uk-margin uk-margin-left uk-margin-right uk-text-center ">
        <div>
            <h1 class ="uk-heading-line uk-text-center uk-text-emphasis"><span>All Users</span></h1>
            <div class="uk-card uk-card-default uk-card-body uk-align-centre">{{> user-list }}</div>
        </div>
    </div>
</div>











